[submodule "libs/liblazychord"]
	path = libs/liblazychord
	url = git@github.com:lazychords/lazychords-lib.git
[submodule "libs/output"]
	path = libs/output
	url = git@github.com:lazychords/lazychords-output.git
